In [19]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
import matplotlib.pyplot as plt
plt.style.use('./deeplearning.mplstyle')
RANDOM_STATE = 55

In [12]:
train_data=pd.read_csv("data/train.csv")
test_data=pd.read_csv("data/test.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
min_samples_split_list = [2,10, 30, 50, 100, 300, 500, 800] ## If the number is an integer, then it is the actual quantity of samples,
max_depth_list = [1,2, 3, 4, 8, 16, 32, 64, None]

In [13]:
train_data.shape

(891, 12)

In [14]:
women=train_data.loc[train_data.Sex=='female']["Survived"]
rate_women=sum(women)/len(women)
print("% of women who survived:",rate_women)

% of women who survived: 0.7420382165605095

In [15]:
from sklearn.ensemble import RandomForestClassifier
y=train_data["Survived"]
features=["Pclass","Sex","SibSp","Parch","Age"]
X=pd.get_dummies(train_data[features])
X_test=pd.get_dummies(test_data[features])

X=X.fillna(0)
X_test=X_test.fillna(0)

model=RandomForestClassifier(n_estimators=100, max_depth=5,random_state=1)
model.fit(X,y)
predictions=model.predict(X_test)

In [17]:
X.head()

   Pclass  SibSp  Parch   Age  Sex_female  Sex_male
0       3      1      0  22.0       False      True
1       1      1      0  38.0        True     False
2       3      0      0  26.0        True     False
3       1      1      0  35.0        True     False
4       3      0      0  35.0       False      True

In [16]:
output = pd.DataFrame({'PassengerId':test_data.PassengerId,'Survived':predictions})
output.to_csv('submission.csv',index=False)

In [ ]:
accuracy_list_train=[]
accuracy_list_val=[]
for min_samples_split in min_samples_split_list:
    model = DecisionTreeClassifier(min_samples_split = min_samples_split,
                                   random_state = RANDOM_STATE).fit(X,y)
    predictions_train = model.predict(X) ## The predicted values for the train dataset
    predictions_val = model.predict(X_val) ## The predicted values for the test dataset
    accuracy_train = accuracy_score(predictions_train,y_train)
    accuracy_val = accuracy_score(predictions_val,y_val)
    accuracy_list_train.append(accuracy_train)
    accuracy_list_val.append(accuracy_val)

plt.title('Train x Validation metrics')
plt.xlabel('min_samples_split')
plt.ylabel('accuracy')
plt.xticks(ticks = range(len(min_samples_split_list )),labels=min_samples_split_list)
plt.plot(accuracy_list_train)
plt.plot(accuracy_list_val)
plt.legend(['Train','Validation'])